In [1]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [3]:
for x in fruits:
    print(x)
    print('jahanzaid khan')
print('Muneer')

apple
jahanzaid khan
banana
jahanzaid khan
cherry
jahanzaid khan
Muneer

In [4]:
for i in range(0, 11, 2):
    print(f'{i}-Muneer')

0-Muneer
2-Muneer
4-Muneer
6-Muneer
8-Muneer
10-Muneer

In [5]:
# int()
# float()
# str()
# bool()

# list()
# tuple()
# set()
# dict()

In [6]:
li = list(range(0,11,2))
print(li)

[0, 2, 4, 6, 8, 10]

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squres = []
for x in numbers:
    x = x**2
    squres.append(x)

In [8]:
print(squres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
[x**2 for x in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]